body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    background: #000;
}

p {
    font-size: 12px;
    line-height: 12px;
    text-align: justify;

    -webkit-background-size: cover;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    background: url(catherine.png) no-repeat top;
    background-attachment: fixed;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}